body{
	background-color:#8A8A8A;
}
.headerparrent{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  align-items:baseline;
  background-color:#FFFFFF;
  margin-left:5%;
  margin-right:5%;
}
.headerchild {
  background-color: #FFFFFF;
  padding: 5px;
  width: 150px;
  height: 50px;
  margin:10px;
}
nav{
    width:80%;
    height:75px;
    transform: translate(12.5%, 0%);
	background-color: #E6E6E6;
}
nav ul li {
    list-style-type:none;
    margin-left: 9%;
    float:left;
    font-size:50px;
}
#logo{
	position:relative;
	line-height:normal;
	order:1;
	flex-grow:2;
	flex-shrink:1;
	margin-right:50%;
}
#logo img{
	height:38px;
	width:150px;
	position:absolute;
	top:50%;
	transform: translate(0, -50%);
}
#inloggen{
	position:relative;
	order:2;
	flex-grow:1;
}
#inloggen a{
	position:absolute;
	top:20%;
	transform: translate(0, -50%);
	font-style:bold;
	font-size:25px;
	font-family:Verdana ;
	color:black;
	text-decoration:none;
	}
	#inloggen a:hover{
	background:#A1A1A1;
	}	
#cart {
	position:relative;
	order:3;
	flex-grow:1;
}
#cart img{
	position:absolute;
	top:20%;
	transform: translate(0, -50%);
	width:45px;
	height:45px;
}
#cart img:hover{
	background:#A1A1A1;
}