body{
	background-color:#8A8A8A;
	
}
.headerparrent{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  background-color:#FFFFFF;
}
.headerchild {
  background-color: #FFFFFF;
  padding: 5px;
  width: 200px;
  height: 100px;
  margin:10px;
}

nav {
background-color: white;
margin: 0;
border-top: 1px solid #E6E6E6;
padding: 0;
width: 80%;
height: 50px;
transform: translate(12.5%, 0%);
}

nav li{
display: inline;
}

nav li a{
font-weight: bold;
color: black;
float: left;
text-decoration: none;
margin-left: 16%
}

nav li a:hover{
color: #f39c12;
}

#logo{
	position:relative;
	margin-right:60%;
	line-height:normal;
}
#logo img{
	height:38px;
	width:150px;
	position:absolute;
	top:50%;
	transform: translate(0, -50%);
}
#inloggen{
	position:relative;
}
#inloggen a{
	position:absolute;
	top:20%;
	transform: translate(0, -50%);
	font-style:bold;
	font-size:25px;
	font-family:Verdana ;
	color:black;
	text-decoration:none;
	}
#inloggen a:hover{
background:#A1A1A1;
}	
#cart {
	position:relative;
}
#cart img{
	position:absolute;
	top:20%;
	transform: translate(0, -50%);
	width:45px;
	height:45px;
}

#cart img:hover{
	background:#A1A1A1;
}